* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, .05);
  text-align: center;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

div {
  margin: 24px 0;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

table,
th,
td {
  padding: 8px 12px;
  border: 1px solid #000;
  border-collapse: collapse;
}

table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

td, th {
  width: 20%;
}

fieldset {
  background-color: #fff;
  border-radius: 12px;
}

input[type="text"] {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding: 8px 12px;
  border: 2px solid #000;
  border-radius: 8px;
  outline: none;
}

input[type="text"]:focus {
  border: 2px solid rgba(0, 0, 0, .8);
}

input[type="text"]:focus::placeholder {
  color: rgba(0, 0, 0, .8);
}

input[type="text"]::placeholder {
  color: #000;
  font-style: italic;
  font-size: 16px;
}

.helper {
  display: none;
  padding: 12px 0 0 0;
  color: #f00;
  font-size: 14px;
  font-style: italic;
}

.input-group {
  margin-bottom: 12px;
}

.input-control {
  margin-top: 0;
}

button {
  padding: 8px 24px;
  background-color: rgba(0, 0, 0, .9);
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  outline: none;
}

button:hover {
  margin: -2px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, .9);
  color: #000;
  transition: .2s;
}

.result-area {
  display: none;
}